html {
    height: 100%;
}

body {
    height: 100%;
}

.main-container
{
    width: auto;
    margin: auto auto;
    background-color: #ffffcc;
    min-height: 100%;
}

@media screen and (min-width: 960px) {
    .main-container{
        width: 960px;
        }
}

.main-heading-container {
    margin-bottom: 2em;
}

.main {
    margin: auto 0.5em 2em 0.5em;
}

.main-heading {
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    text-align: center;
}

.heading {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
    margin-left: 1em;
    margin-top: 1.5em;
}

.text {
    margin-left: 1em;
    font-size: 1.5em;
}

.italics {
    font-style: italic;
}

@media screen and (min-width: 600px) {
    .ascii {
        font-size: 7px;
    }
}

@media screen and (min-width: 800px) {
    .ascii {
        font-size: 9px;
    }
}

